:root {
    --main-color: #7733ff;
    --compliment-color: #99cc00;
    --sec-comp-color: #ff6600;
    --bkgd-color:grey;
}

* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
    background-color: var(--bkgd-color);
    color: antiquewhite;
}

.flex {
    margin: 25px;
    padding: 0%;
    display: inline-flex;
    flex-direction: row;
}

.header-image {
    display: flex;
    height: 550px;
    margin: 0px;
}

.avatar {
    border-radius: 30px;
}

.header-nav {
    display: flex;
    float: left;
    text-decoration: none;
}

.nav-list {
    text-decoration-color: var(--main-color);
    text-decoration-line: none;
    display: flex;
    margin: 8px;
    float: left;
}

.nav-list:hover {
    color: var(--compliment-color);
}

.header-title-name {
    display:flex;
    flex-direction: row;
    margin-bottom: 5px;
    margin-top: 200px;
}

.header-title-tag {
    margin-top: 250px;
}

.card {
    background-color: var(--main-color);
    color: var(--sec-comp-color);
    
    height: 400px;
    width: 400px;
    margin: 20px;
}

#About-Me {
    margin: 25px;
}

.about-me-para {
    margin: 25px;
}

.work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#work {
    display: block;
    padding: 10px;
    margin: 10px;
}

.work-image {
    padding: 10px;
}

.work-para {
    padding: 10px;
    text-align: justify;
    line-height: normal;
}