:root {
    --main-color: #4c3972;
    --compliment-color: #99cc00;
    --sec-comp-color: #ff6600;
    --bkgd-color:grey;
}

* {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
}

header {
    background-image: url(../images/dancingAstronaut6.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.nav-list {
    
    display: inline-flex;
    flex-direction: row;
    float: inline-end;
    color: white;
    padding: 0px 16px 0px 0px;
    text-decoration: none;
    position: relative;
}

.nav-list:hover {
    color: var(--compliment-color);
}

.card {
    background-color: darkgray;
    color: antiquewhite;
    border-radius: 30px;
    height: 400px;
    width: 400px;
    margin: 25px;
    flex-wrap: wrap;
    justify-content: center;
    
}

.About-Me {
    background-color: lightgray;
}

#About-Me {
    margin: 25px;
    font-size: 45px;
}

.about-me-para {
    margin: 25px;
    text-align: justify;
}

.Contac-link {
    color: grey;
}

.Contac-link:hover {
    color: #99cc00;
}

.work-section {
    background-color: white;
}

.work-items {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

#work {
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 45px;
}

.work-image {
    padding: 10px;
    border-radius: 30px 30px 0px 0px;
}

.work-para {
    padding: 10px;
    text-align: justify;
    line-height: normal;
}

#Contact-Me {
    display: block;
    padding: 10px;
    margin: 10px;
    font-size: 45px;
}

.contact-info{
    text-decoration: none;
    color: antiquewhite;
}

.contact-info:hover {
    color: #99cc00;
}

.contact-margin {
    margin: 15px 10px 0px 25px;
}

.contact-image {
    display:flex;
    justify-content: center;
    padding: 10px;
    margin: 10px;
}

footer {
    margin: 100px 0px 75px 0px;
    
    display: flex;
    justify-content: center;

}

@media screen and (max-width: 996px) {
    .header-image {
        height: auto;
        width: auto;
    }

}

@media screen and (max-width: 767px) {
    .nav {
        flex-direction: column;
        justify-content: right;
        font-size: 15px;
    }

    .name {
        font-size: 15px;
    }

    .sub-tag {
        font-size: 10px;
    }

    .about-me-para {
        font-size: 15px;
    }

    #About-me {
        font-size: 15px;
    }

    .header-image {
        padding-top: 40px;
        
    }

    #Contact-Me {
        font-size: 15px;
    }

    .contact-image {
        height: auto;
    }
}